.alertDoc > .modal-dialog {
    width: 90% !important;
    height: 90% !important;
}

.alertDoc > .modal-dialog > .modal-content {
    height: 100% !important;
}

.alertDoc > .modal-dialog > .modal-content > .modal-body {
    height: 90% !important;
}

.alertDoc > .modal-dialog > .modal-content > .modal-body > .bootbox-body {
    height: 100% !important;
}

.alertDoc > .modal-dialog > .modal-content > .modal-footer {
    height: 10% !important;
}